Options -MultiViews
RewriteEngine On

# Si el archivo existe (imagenes, css, js), cárgalo tal cual
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Si no, mándalo a index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]